body {
  background-color: #FFCE4F  !important;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // height: 100vh;
  // align-items: center;
  // // position: relative;
}

.header {
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s ease 2s forwards;
  padding-top: 100px;
  padding-bottom: 60px;
}
.rm {
  font-family: "Fredoka", sans-serif;
  color: #f6f6f6;
  font-size: 30px;
  text-align: center;
  margin-top: 40px;

}
.header h1 {
  font-family: "Fredoka", sans-serif;
  color: #f6f6f6;
  font-size: 60px;
}
.match h1 {
  font-family: "Fredoka", sans-serif;
  color: #f6f6f6;
  font-size: 60px;
}
.headprofile {
  text-align: left;
  color: #023145;
  font-size: 20px;
  font-family: "Helvetica Neue";
  font-weight: bold;
}
.h-profile {
  text-align: left;
  color: #1b1d1e;
  font-size: 20px;
  font-family: "Helvetica Neue";
  font-weight:300
}
.boldy {
  color: #023145;
  font-weight:bold;
  text-align: right;
  color: #023145;
  font-family: "Helvetica Neue";
  font-size: 20px;
}
.smally {
  font-weight: light;
  font-size: 16px;

}
.pille {
  background-color: #FFEAA0;
  border-radius: 30px;
  font-size: 18px;
  font-weight: light;
  padding: 5px 10px;
  display: inline-block;
}
.info {
  border-color: #FFEAA0;
  border: 1px solid;
  border-radius: 30px;
  font-size: 18px;
  font-weight: light;
  padding: 5px 28px;
  margin-left: 16px;
  display: inline-block;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.whitebg {
  background-color: #ffffff;
  padding: 40px;
  display: flex;
  flex-direction: column;/* Ensure space is distributed between children */
  align-items: center;
  min-height: 100vh; /* Ensure it takes up the full height of the viewport */
  width: 100vw;
}
.white {
  background-color: #ffffff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Ensure it takes up the full height of the viewport */
  width: 100vw;
}


.whitebg form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.whitebg .form-group:last-child {
  margin-top: auto;
}

.ball {
  height: 80px;
  width: 80px;
  bottom: 360px;
  border-radius: 50%;
  background-color: #023145;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Initially hidden */
  animation: growBall 0.5s ease 2s forwards, fadeIn 0.5s ease 2s forwards; /* Faster growBall and fadeIn */
}
.logo {
  height: 60px;
  width: 60px;
  opacity: 0;
  animation: fadeIn 0.5s ease 2s forwards;
}
.slogan {
  margin-top: 160px;
  color: #023145;
  opacity: 0;
  animation: fadeIn 0.5s ease 2s forwards;
}
.heightpic {
  height: 300px;
}
p {
  text-align: center;
  font-size: 24px;
  font-weight: 100;
}
@keyframes growBall {
  0% {
    transform: scale(1); /* Start from 0 scale for invisibility */
  }
  100% {
    transform: scale(2.5); /* Final scale (250px) */
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0; /* Start fully transparent */
  }
  100% {
    opacity: 1; /* Fade in to fully visible */
  }
}
