<h1>Available Hosts</h1>

<% @suggested_hosts.each do |host| %>
  <div class="host-profile mb-5">
    <h2><%= host.first_name %> </h2>
    <p><strong>Matching Score:</strong></p>

  <%= render partial: 'host_info', locals: { host: host} %>
<% end %>
