<h2 class= rm>ROOM.ME</h2>
<br>
<p>Available Hosts</p>

<% if @suggested_hosts.present? %>
  <% suggestion = @suggested_hosts.first %>
    <%= render partial: 'host_info', locals: { host: suggestion } %>
<% else %>
  <p>No more hosts to suggest at this time.</p>
<% end %>
