<h1>Your Profile</h1>

<div class="profile-section">
  <div class="column">
    <h2>Edit Your Core Data</h2>
    <%= link_to 'Edit Personal Data', edit_profile_path %>
  </div>

  <div class="column">
    <h2>Living Preferences</h2>
    <% if @living_preference %>
      <%= link_to 'Edit Preferences', edit_living_preference_path(@living_preference) %>
    <% else %>
      <%= link_to 'Create Preferences', new_living_preference_path %>
    <% end %>
  </div>
</div>
