<div class="like-b">
<svg width="144" height="184" viewBox="0 0 144 184" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="92" cy="92" r="92" fill="#F6F6F6" fill-opacity="0.8"/>
<path d="M144.109 62L84.0365 122.073L54 92.0365" stroke="#FCBF21" stroke-width="9.01096" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</div>
