       <!-- Profile -->
       <div class="navbar">
        <svg class="icon" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 13.5C14.7614 13.5 17 11.2614 17 8.5C17 5.73858 14.7614 3.5 12 3.5C9.23858 3.5 7 5.73858 7 8.5C7 11.2614 9.23858 13.5 12 13.5Z" fill="#023145" stroke="#023145" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M20 21.5C20 19.3783 19.1571 17.3434 17.6569 15.8431C16.1566 14.3429 14.1217 13.5 12 13.5C9.87827 13.5 7.84344 14.3429 6.34315 15.8431C4.84285 17.3434 4 19.3783 4 21.5" stroke="#023145" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M12 13.5C9.87827 13.5 7.84344 14.3429 6.34315 15.8431C4.84285 17.3434 4 19.3783 4 21.5H20C20 19.3783 19.1571 17.3434 17.6569 15.8431C16.1566 14.3429 14.1217 13.5 12 13.5Z" fill="#023145" stroke="#023145" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <svg class="icon" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.342 6.06931L12.0019 6.64887L12.6618 6.06931C13.6819 5.17341 15.0104 4.70947 16.3665 4.77563C17.7225 4.84179 18.9996 5.43286 19.9276 6.4238C20.8556 7.41474 21.3618 8.72783 21.339 10.0853C21.3161 11.4427 20.7662 12.7381 19.8054 13.6973L19.8048 13.6978L14.58 18.9226L14.5798 18.9228L12.0001 21.501L5.42757 14.9294L5.42695 14.9288L4.19757 13.6974L4.19657 13.6964C3.23607 12.7371 2.68639 11.4417 2.66381 10.0844C2.64123 8.72704 3.14751 7.41413 4.07557 6.42338C5.00363 5.43262 6.28069 4.8417 7.63661 4.77562C8.99269 4.70954 10.3221 5.17358 11.342 6.06931Z" stroke="#023145" stroke-width="2"/>
        </svg>
        <svg class="home" width="149" height="149" viewBox="0 0 149 149" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d_5120_21114)">
          <circle cx="74.5" cy="74.5" r="46.5" fill="#FFCE4F"/>
          </g>
          <path d="M74.2922 53.1353L68.8446 56.9055V53.1353H66.0929V58.2867L63.8153 59.9665M74.2922 53.1353L88.9489 63.1893M74.2922 53.1353L85.3047 60.6303V72.3972H63.0519V60.4983L63.8153 59.9665M61.6178 98.3785C61.6178 96.8107 62.0734 94.2573 60.2513 92.1072C57.9737 89.4194 50.2298 85.3879 47.269 78.8925C43.9099 71.5235 46.1302 58.2867 49.3188 57.1668C52.5999 56.0145 50.4576 62.7662 51.1409 67.6937M87.1268 98.3785C87.1268 96.8107 86.7086 93.8623 88.7211 91.8832C91.4542 89.1955 97.8315 85.6118 101.476 78.8925C105.34 71.767 102.702 59.0182 99.6536 56.9429C96.6927 54.9271 97.376 63.2142 97.6037 67.6937M72.5503 98.3785C72.5503 95.4668 73.2335 89.6434 72.0947 86.0598C70.1702 80.0035 66.6285 81.1323 59.568 75.3089C57.4667 73.5758 53.1908 69.4855 51.1409 70.8294C48.4078 72.6212 53.7907 77.561 54.5573 78.2206C56.3794 79.7885 58.2014 82.2522 59.568 84.044M76.1944 98.3785C75.9666 95.0189 75.5506 92.0739 76.1944 86.0598C76.6499 81.8042 84.3937 78.8926 88.9489 75.7569C91.8635 73.7506 95.7817 69.2616 97.6037 70.8294C100.076 72.9565 95.5378 76.4149 93.7318 78.4446C92.1375 80.2364 91.2265 80.9083 89.1766 84.044M59.4189 63.1893L63.8153 59.9665" stroke="#023145" stroke-width="1.25676" stroke-linecap="round" stroke-linejoin="round"/>
          <defs>
          <filter id="filter0_d_5120_21114" x="0.351351" y="0.351351" width="148.297" height="148.297" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feMorphology radius="5.02703" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_5120_21114"/>
          <feOffset/>
          <feGaussianBlur stdDeviation="11.3108"/>
          <feComposite in2="hardAlpha" operator="out"/>
          <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.723922 0 0 0 0 0.309804 0 0 0 1 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_5120_21114"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_5120_21114" result="shape"/>
          </filter>
          </defs>
        </svg>
        <svg class="icon" width="20" height="24" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 0.5C4.486 0.5 0 4.62735 0 9.7C0 13.0442 1.898 16.0434 5 17.6741V23.5L10.34 18.8943C15.697 18.7298 20 14.668 20 9.7C20 4.62735 15.514 0.5 10 0.5ZM10 16.6H9.667L7 18.9V16.1205L6.359 15.8364C3.67 14.6462 2 12.2944 2 9.7C2 5.89465 5.589 2.8 10 2.8C14.411 2.8 18 5.89465 18 9.7C18 13.5054 14.411 16.6 10 16.6Z" fill="#023145"/>
        </svg>
        <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15 8.25V6.375C15 5.87772 14.8025 5.40081 14.4508 5.04917C14.0992 4.69754 13.6223 4.5 13.125 4.5H4.125C3.62772 4.5 3.15081 4.69754 2.79917 5.04917C2.44754 5.40081 2.25 5.87772 2.25 6.375V17.625C2.25 18.1223 2.44754 18.5992 2.79917 18.9508C3.15081 19.3025 3.62772 19.5 4.125 19.5H13.125C13.6223 19.5 14.0992 19.3025 14.4508 18.9508C14.8025 18.5992 15 18.1223 15 17.625V15.75M18 8.25L21.75 12M21.75 12L18 15.75M21.75 12H8.95312" stroke="#023145" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
