<div class="navbar">
        <svg class="icon" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 13.5C14.7614 13.5 17 11.2614 17 8.5C17 5.73858 14.7614 3.5 12 3.5C9.23858 3.5 7 5.73858 7 8.5C7 11.2614 9.23858 13.5 12 13.5Z" stroke="#023145" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M20 21.5C20 19.3783 19.1571 17.3434 17.6569 15.8431C16.1566 14.3429 14.1217 13.5 12 13.5C9.87827 13.5 7.84344 14.3429 6.34315 15.8431C4.84285 17.3434 4 19.3783 4 21.5" stroke="#023145" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <svg class="icon" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.342 6.06931L12.0019 6.64887L12.6618 6.06931C13.6819 5.17341 15.0104 4.70947 16.3665 4.77563C17.7225 4.84179 18.9996 5.43286 19.9276 6.4238C20.8556 7.41474 21.3618 8.72783 21.339 10.0853C21.3161 11.4427 20.7662 12.7381 19.8054 13.6973L19.8048 13.6978L14.58 18.9226L14.5798 18.9228L12.0001 21.501L5.42757 14.9294L5.42695 14.9288L4.19757 13.6974L4.19657 13.6964C3.23607 12.7371 2.68639 11.4417 2.66381 10.0844C2.64123 8.72704 3.14751 7.41413 4.07557 6.42338C5.00363 5.43262 6.28069 4.8417 7.63661 4.77562C8.99269 4.70954 10.3221 5.17358 11.342 6.06931Z" stroke="#023145" stroke-width="2"/>
        </svg>
        <svg class="home" width="149" height="149" viewBox="0 0 149 149" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d_5120_21114)">
          <circle cx="74.5" cy="74.5" r="46.5" fill="#FFCE4F"/>
          </g>
          <path d="M74.2922 53.1353L68.8446 56.9055V53.1353H66.0929V58.2867L63.8153 59.9665M74.2922 53.1353L88.9489 63.1893M74.2922 53.1353L85.3047 60.6303V72.3972H63.0519V60.4983L63.8153 59.9665M61.6178 98.3785C61.6178 96.8107 62.0734 94.2573 60.2513 92.1072C57.9737 89.4194 50.2298 85.3879 47.269 78.8925C43.9099 71.5235 46.1302 58.2867 49.3188 57.1668C52.5999 56.0145 50.4576 62.7662 51.1409 67.6937M87.1268 98.3785C87.1268 96.8107 86.7086 93.8623 88.7211 91.8832C91.4542 89.1955 97.8315 85.6118 101.476 78.8925C105.34 71.767 102.702 59.0182 99.6536 56.9429C96.6927 54.9271 97.376 63.2142 97.6037 67.6937M72.5503 98.3785C72.5503 95.4668 73.2335 89.6434 72.0947 86.0598C70.1702 80.0035 66.6285 81.1323 59.568 75.3089C57.4667 73.5758 53.1908 69.4855 51.1409 70.8294C48.4078 72.6212 53.7907 77.561 54.5573 78.2206C56.3794 79.7885 58.2014 82.2522 59.568 84.044M76.1944 98.3785C75.9666 95.0189 75.5506 92.0739 76.1944 86.0598C76.6499 81.8042 84.3937 78.8926 88.9489 75.7569C91.8635 73.7506 95.7817 69.2616 97.6037 70.8294C100.076 72.9565 95.5378 76.4149 93.7318 78.4446C92.1375 80.2364 91.2265 80.9083 89.1766 84.044M59.4189 63.1893L63.8153 59.9665" stroke="#023145" stroke-width="1.25676" stroke-linecap="round" stroke-linejoin="round"/>
          <defs>
          <filter id="filter0_d_5120_21114" x="0.351351" y="0.351351" width="148.297" height="148.297" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feMorphology radius="5.02703" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_5120_21114"/>
          <feOffset/>
          <feGaussianBlur stdDeviation="11.3108"/>
          <feComposite in2="hardAlpha" operator="out"/>
          <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.723922 0 0 0 0 0.309804 0 0 0 1 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_5120_21114"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_5120_21114" result="shape"/>
          </filter>
          </defs>
        </svg>
        <svg class="icon" width="20" height="24" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 0.5C4.486 0.5 0 4.62735 0 9.7C0 13.0442 1.898 16.0434 5 17.6741V23.5L10.34 18.8943C15.697 18.7298 20 14.668 20 9.7C20 4.62735 15.514 0.5 10 0.5ZM10 16.6H9.667L7 18.9V16.1205L6.359 15.8364C3.67 14.6462 2 12.2944 2 9.7C2 5.89465 5.589 2.8 10 2.8C14.411 2.8 18 5.89465 18 9.7C18 13.5054 14.411 16.6 10 16.6Z" fill="#023145"/>
        </svg>
        <svg class="icon" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.1763 2.99744C15.2085 3.13031 15.2716 3.25371 15.3605 3.3576C15.4494 3.4615 15.5615 3.54295 15.6878 3.59533C15.8141 3.64772 15.9509 3.66956 16.0873 3.65908C16.2236 3.6486 16.3555 3.6061 16.4723 3.53502C19.399 1.75307 22.7481 5.10099 20.9662 8.02771C20.8951 8.14443 20.8526 8.27626 20.842 8.41251C20.8315 8.54875 20.8532 8.68557 20.9055 8.81183C20.9577 8.9381 21.039 9.05025 21.1428 9.13919C21.2465 9.22813 21.3698 9.29134 21.5026 9.32368C24.8325 10.1313 24.8325 14.8675 21.5026 15.6763C21.3697 15.7085 21.2463 15.7716 21.1424 15.8605C21.0385 15.9494 20.9571 16.0615 20.9047 16.1878C20.8523 16.3141 20.8304 16.4509 20.8409 16.5873C20.8514 16.7236 20.8939 16.8555 20.965 16.9723C22.7469 19.899 19.399 23.2481 16.4723 21.4662C16.3556 21.3951 16.2237 21.3526 16.0875 21.342C15.9512 21.3315 15.8144 21.3532 15.6882 21.4055C15.5619 21.4577 15.4497 21.539 15.3608 21.6428C15.2719 21.7465 15.2087 21.8698 15.1763 22.0026C14.3687 25.3325 9.63246 25.3325 8.82368 22.0026C8.79148 21.8697 8.72839 21.7463 8.63951 21.6424C8.55064 21.5385 8.4385 21.4571 8.31221 21.4047C8.18593 21.3523 8.04906 21.3304 7.91274 21.3409C7.77643 21.3514 7.64451 21.3939 7.52771 21.465C4.60099 23.2469 1.25187 19.899 3.03382 16.9723C3.1049 16.8556 3.14744 16.7237 3.15799 16.5875C3.16855 16.4512 3.14681 16.3144 3.09455 16.1882C3.04229 16.0619 2.96098 15.9497 2.85723 15.8608C2.75348 15.7719 2.63021 15.7087 2.49744 15.6763C-0.832479 14.8687 -0.832479 10.1325 2.49744 9.32368C2.63031 9.29148 2.75371 9.22839 2.8576 9.13951C2.9615 9.05064 3.04295 8.9385 3.09533 8.81221C3.14772 8.68593 3.16956 8.54906 3.15908 8.41274C3.1486 8.27643 3.1061 8.14451 3.03502 8.02771C1.25307 5.10099 4.60099 1.75187 7.52771 3.53382C7.64431 3.60544 7.77621 3.64842 7.91261 3.65924C8.04901 3.67006 8.18604 3.64843 8.31247 3.5961C8.4389 3.54377 8.55114 3.46224 8.64 3.35818C8.72885 3.25413 8.7918 3.1305 8.82368 2.99744C9.63126 -0.332479 14.3675 -0.332479 15.1763 2.99744ZM12 8.90009C11.0452 8.90009 10.1296 9.27936 9.45448 9.95448C8.77936 10.6296 8.40009 11.5452 8.40009 12.5C8.40009 13.4548 8.77936 14.3704 9.45448 15.0455C10.1296 15.7206 11.0452 16.0999 12 16.0999C12.9548 16.0999 13.8704 15.7206 14.5455 15.0455C15.2206 14.3704 15.5999 13.4548 15.5999 12.5C15.5999 11.5452 15.2206 10.6296 14.5455 9.95448C13.8704 9.27936 12.9548 8.90009 12 8.90009Z" fill="#023145"/>
          </svg>
      </div>
