<h1>Flatmates Interested in Your Property</h1>

<% if @suggested_flatmates.present? %>
  <% suggestion = @suggested_flatmates.first %>
  <div class="flatmate-profile">
    <h2><%= suggestion.user.email %> - <%= suggestion.city %></h2>
    <%= render partial: 'flatmate_info', locals: { flatmate: suggestion } %>
  </div>
<% else %>
  <p>No more flatmates to suggest at this time.</p>
<% end %>
