<div class="auth-links">
  <% if !user_signed_in? %>
    <div class="p-1 text-center rounded">
      <%= link_to "Log in", new_user_session_path, class: "btn-auth" %>
    </div>
    <div class="p-1 text-center rounded">
      <%= link_to "Sign Up", new_user_registration_path, class: "btn-auth" %>
    </div>
  <% end %>
</div>

<% if user_signed_in? %>
  <div class="header" data-controller="delay" data-delay-role-value="<%= current_user.role %>">
      <h1>ROOM.ME</h1>
  </div>
<% else %>
  <div class="header">
    <h1>ROOM.ME</h1>
  </div>
<% end %>

<br>

<div class="container logo-container">
  <div class="ball">
    <div class="logo">
        <svg viewBox="0 0 132 142" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.69482 36.8202L27.7488 25.5468V4.02486H43.2928V16.3231L64.8539 3L121.013 35.7954M37.2758 139.818C37.2758 136.231 38.2786 130.39 34.2672 125.47C29.253 119.321 12.2046 110.097 5.68625 95.237C-1.709 78.3776 3.17918 48.0936 10.1991 45.5315C17.4225 42.8951 12.7061 58.3422 14.2104 69.6156M93.4348 139.818C93.4348 136.231 92.514 129.486 96.9447 124.958C102.962 118.809 117.001 110.61 125.024 95.237C133.532 78.9348 127.724 49.7673 121.013 45.0191C114.494 40.4072 115.999 59.367 116.5 69.6156M61.3439 139.818C61.3439 133.157 62.8481 119.833 60.3411 111.635C56.1041 97.7787 48.307 100.361 32.763 87.0381C28.1368 83.0729 18.7232 73.715 14.2104 76.7896C8.19341 80.889 20.0441 92.1906 21.7317 93.6997C25.7431 97.2867 29.7544 102.923 32.763 107.023M69.3666 139.818C68.8652 132.132 67.9494 125.394 69.3666 111.635C70.3694 101.899 87.4177 95.237 97.4461 88.063C103.863 83.4728 112.489 73.2026 116.5 76.7896C121.942 81.6561 111.952 89.5684 107.976 94.2121C104.466 98.3115 102.46 99.8488 97.9475 107.023" stroke="#FFB94F" stroke-width="4" stroke-linecap="round"/>
          <path d="M58.6416 69.3643C58.6416 70.5117 57.958 71.2441 56.9082 71.2441C55.8584 71.2441 55.2236 70.5117 55.2236 69.3643V40.7998C55.2236 38.6025 56.1758 37.6992 58.5684 37.6992H66.8203C73.2168 37.6992 77.2451 41.5078 77.2451 47.4893C77.2451 51.8838 74.8037 55.3506 70.8242 56.6201L76.8789 68.2168C77.0742 68.6074 77.1963 69.1445 77.1963 69.5596C77.1963 70.4385 76.4639 71.0977 75.5361 71.0977C74.7061 71.0977 74.1934 70.6582 73.6318 69.5596L67.4062 57.3281H58.6416V69.3643ZM58.6416 54.2275H66.2344C71.0439 54.2275 73.7295 51.8594 73.7295 47.6113C73.7295 43.3145 70.9951 40.7998 66.3809 40.7998H58.6416V54.2275Z" fill="#FFB94F"/>
        </svg>
      </div>
  </div>

  <br>

  <div class="slogan">
    <p>MATCH.MOVE.LIVE</p>
  </div>

</div>
