  <div class="success" data-controller="delay" data-delay-role-value="<%= current_user.role %>">
    <h4>Yay!
      <br>
      You made it!
      <br>
      <br>
      We are now looking for compatible flatmates for you.
    </h4>
    <div class="loader"></div>
  </div>
