<div class="logo-container">
  <h4>Welcome to</h4>
  <h1>ROOM.ME</h1>
  <div class="tutcont">
    <div class="logo">
     <svg width="110" height="110" viewBox="0 0 110 110" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M96.9379 10.0592L92.2629 14.7342C85.6629 6.94258 71.5004 1.58008 55.0004 1.58008C38.5004 1.58008 24.3379 6.94258 17.7379 14.7342L13.0629 10.0592C12.7398 9.74252 12.3301 9.52853 11.8856 9.44424C11.4411 9.35995 10.9815 9.40912 10.5649 9.58558C10.1483 9.76203 9.79323 10.0579 9.54447 10.4358C9.2957 10.8137 9.16437 11.2568 9.16703 11.7092V26.7884C9.16703 28.0717 10.1754 29.0801 11.4587 29.0801H26.5379C28.6004 29.0801 29.6087 26.6051 28.142 25.1842L22.5962 19.5926C27.1795 13.6801 39.5545 8.45508 55.0004 8.45508C70.4462 8.45508 82.8212 13.6801 87.4045 19.5926L81.8129 25.1842C81.4961 25.5073 81.2822 25.917 81.1979 26.3615C81.1136 26.806 81.1628 27.2656 81.3392 27.6822C81.5157 28.0988 81.8115 28.4539 82.1894 28.7026C82.5673 28.9514 83.0104 29.0827 83.4629 29.0801H98.542C99.8254 29.0801 100.834 28.0717 100.834 26.7884V11.7092C100.836 11.2568 100.705 10.8137 100.456 10.4358C100.208 10.0579 99.8524 9.76203 99.4358 9.58558C99.0192 9.40912 98.5597 9.35995 98.1151 9.44424C97.6706 9.52853 97.261 9.74252 96.9379 10.0592Z" fill="#023145"/>
      <path d="M66.4581 58.2542C65.1747 57.6126 63.7997 57.2917 62.3789 57.2917H59.5831V29.7917C59.5831 25.9876 56.5122 22.9167 52.7081 22.9167C48.9039 22.9167 45.8331 25.9876 45.8331 29.7917V79.0168L30.0664 75.7168C28.9831 75.4895 27.8553 75.6185 26.8513 76.0845C25.8472 76.5506 25.0208 77.3286 24.495 78.3027C23.9693 79.2769 23.7726 80.3948 23.9341 81.4899C24.0956 82.5849 24.6068 83.5984 25.3914 84.3792L43.7706 102.758C45.4664 104.454 47.8039 105.417 50.2331 105.417H79.6122C84.1956 105.417 88.0456 102.071 88.6872 97.5334L91.5747 77.0917C92.1247 73.1959 90.1081 69.3459 86.5789 67.6042L66.4581 58.2542Z" fill="#023145"/>
      </svg>
    </div>

   <div class="tut-text">
    <h2>This is our navigation.</h2>
    <p>Click our home button to get suggestions.</p>
  </div>

   <div class="swipe-instructions">
    <div class="swipe-no">
      <p>Left for No</p>
    </div>

     <div class="swipe-yes">
      <p>Right for Yes</p>
    </div>
  </div>

    <%= render 'shared/navbar_home' %>

    <% if current_user.host? %>
      <%= link_to 'See your future of living', flatmates_path %>
    <% else %>
      <%= link_to 'See your future of living', hosts_path %>
    <% end %>
