.alert {
  position: fixed;
  top: 200px;
  left: 100px;
  margin: -2.75rem!important;
  z-index: 2000;
  height: 100px;
  width: 300px;
  text-align: center;
  font-size: 20px;
  color: #023145;
  font-family: "Helvetica Neue";
  padding-left: auto !important;
  padding-right: auto !important;
  border-radius: 20px;
}
