.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.nav-bar {
  align-items: flex-end;
  background: linear-gradient(
    to top,
    #FFCE4F,
    #FFCE4F 50%,
    rgba(0,0,0,0) 50%,
    rgba(0,0,0,0) 100%
  );
  display: flex;
  justify-content: space-between;
  color: #023145;
  padding: 24px 24px 0 24px ;
  width: 100vw;
  // position: relative;
}
#headyou {
  text-align: center;
  color: #023145;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}


.page_container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr auto;
  margin-top: 40px;
  margin-left: 16px;
  margin-right: 16px;
}

 .home {
  margin-left: -62px;
  margin-right: -62px;
 }
 .icon {
  margin-bottom: 24px;
 }
 .icon-container {
  position: relative;
}
.badge_message,
.badge_match {
background-color: rgb(245, 64, 18);
color: white;
border-radius: 50%;
padding: 7px 7px;
font-size: 16px;
position: absolute;
right: -8px;
/* display: none; */
}
