// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

// Your CSS partials
@import "components/index";
@import "pages/index";



.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  border: 2px solid #ddd;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.matches-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.match-bar {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-pic {
  flex-shrink: 0;
}

.match-details {
  display: flex;
  flex-direction: column;
}

.match-name {
  font-weight: bold;
  font-size: 1.2rem;
}

.match-infos {
  font-size: 0.9rem;
  color: grey;
  margin-top: 0.5rem;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.ml-3 {
  margin-left: 1rem;
}
